<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mystart" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SEOActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ExtendedMail"
            android:label="Внешняя e-mail библиотека">
        </activity>

        <activity android:name=".ExtendedMailVideoSelect"
            android:label="Выбрать видео для отправки">
        </activity>

        <activity android:name="com.example.mystart.NewActivity"
            android:label="Test html5">
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
